/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/05/2017, 15:31:07
    Author     : Higor
*/

.menu-lateral {
    border: 1px solid #000;
    min-height: 600px;
}