/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #eee;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #fafafa;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0 15px 0;
}
/*.container .credit {
  margin: 20px 0;
}

#area_login {
    padding-bottom: 20px;
}

header .row{
    height: 100% !important;
}

nav {
    margin-bottom: 0 !important;
}*/



#menu-lateral{
    padding: 0 !important;
}

#menu-lateral h4{
    text-align: center;
    font-weight: bold;
}

#conteudo{
    padding-top: 20px;
    padding-bottom: 50px;
    min-height: 500px;
}

#conteudo div{
    /*margin-top: 0 !important;*/
}


#menu-topo{
    margin-bottom: 0 !important;
}
#menu-topo .navbar{
    
}

#head{
    padding-bottom: 15px;
}

#rodape{
    
}

header div,row{

}

#area_user_img{
    height: 100px;
}
.text-center .thumbnail {

}

.col-xs-0 img{
  display: inline;
}

.col-xs-12 img{
  display: none;
}

@media only screen and (min-width:65em) { 
  .col-xs-0 img{
    display: none;
  }

  .col-xs-12 img{
    display: inline;
  }
}

#area_user_dados{
    padding-top: 50px;
    height: 130px;

}
#area_user_dados p{
    font: bold large sans-serif, serif;
    color: gray;

}


/* menu lateral */

 @media (min-width: 765px) {


    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 100%;
      height: 100%;
      margin-left: 0px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

  }
   
  @media (min-width: 1330px) {

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  section{
    padding-left: 15px;
  }
  
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}